@model IEnumerable<MedicalApp.Models.Medico>

@{
    ViewData["Title"] = "Médicos";
}

<h1>Listado de Médicos</h1>

<p>
    <a asp-action="Agregar" class="btn btn-primary">Registrar Nuevo Médico</a>
</p>


<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Especialidad</th>
            <th>Año Colegiatura</th>
            <th>Distrito</th>
            <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Codmed</td>
                <td>@item.Nommed</td>
                <td>@item.Especialidad.Nombre</td>
                <td>@item.AnioColegiatura</td>
                <td>@item.Distrito.Nombre</td>
                <td>@(item.Estado == 1 ? "Activo" : "Inactivo")</td>
            </tr>
        }
        </tbody>
    </table>
</div>